/*Navbar*/

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  height: 10vh;
  width: 100vw;
}

.navbar ul {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 20px;
}

.navbar a {
  text-decoration: none;
  color: white;
  position: relative;
}

.navbar a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: white;
  transition: width 0.4s ease;
}

.navbar a:hover::after {
  width: 100%;
  left: 0;
  background: white;
}

/*Pokemon*/

.container {
  width: 100vw;
  height: 90vh;
  overflow-y: hidden;
}

.title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  justify-items: center;
  padding: 20px;
  height: calc(100vh - 80px);
  overflow-y: auto;
}

.pokemon-card {
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease-in-out, transform 0.2s;
  background-color: #3d3d3d;
}

.pokemon-card:hover {
  background-color: var(--bg-color);
  transform: scale(1.1);
  color: white;
}

.pokemon-card img {
  width: 100px;
  height: 100px;
}

